{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset Done{% endblock title %}
{% block main-content %}
<div class="container my-5">
  <div class="row">
    <h3>Welcome Sonam</h3>
    <div class="col-sm-2 border-end">
      <ul class="list-unstyled">
        <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Password Reset Complete</a></li>
      </ul>
    </div>
    <div class = "col-sm-9 offset-sm-1 text-center">
        <h3>Password Reset Completed Successfully !!</h3>
        <div><iframe src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExdGpienZzMGw1MzMyOGJ2a2hqd2tudDgwN2lsMW05OGVpdWM5cDYybSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/J20kKsn88hYAkpPtHB/giphy.webp" widht="200" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
    </div>
  </div>
</div>
{% endblock main-content %}